/* CSS Document */
/*Button Options*/
.Sub-Menu div{
	background-color: rgba(220,228,234,1.00);
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
	font-size:90%;
	margin-left:0%;
	margin-right:0%;
}
.Sub-Menu ul{
	padding:0%;	
}
.Sub-Menu li{
	display:inline;
	padding-right:0.75%;
	padding-left:0.75%;	
}
.Sub-Menu a:link{
	text-decoration: none;
	color:#624639;	
}
.Sub-Menu a:visited{ 
	text-decoration: none;
	color:#624639;
}
.Sub-Menu a:hover{
	text-decoration: none;
	color:#8D543D;
}
.Sub-Menu a:active{
	text-decoration: none;
	color:#8D543D; 
}
/*Styling Header Of Website*/
.Title{
	float:left;
	margin-right: 15px;	
}
.Title-Name{
	font-family:"Times New Roman";
	font-size:2.25em;
	font-weight:100;
	color:#624639;
}

/*Styling Body Of Website*/
.Info-Style{
	margin-left:10%;
	margin-right:10%;
}
.Info-Style h1{
	font-size:400%;
	font-style:italic;
	font-family:"Times New Roman";
	color:#f17008;
	font-weight:100;
}
.Info-Style h2{
	font-size:250%;
	font-family:"Times New Roman";
	font-weight:100;
	color:#2B1206;	
}
.Info-Style h3{
	font-size:120%;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#2B1206;	
}
.Info-Style strong{
	font-size:110%;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:#2B1206;	
}
.Info-Style p{
	font-size:85%;
	font-family: 'Open Sans', sans-serif;
	color:#2B1206;
	word-spacing: 4%;	
}
.Info-Style li{
	font-size:85%;
	font-family: 'Open Sans', sans-serif;
	color:#2B1206;
	word-spacing: 4%;	
}
.Info-Style a:link{
	text-decoration: none;
	color:#2B1206;
}
.Info-Style a:visited{
	text-decoration: none;
	color:#2B1206;	
}
.Info-Style a:hover{
	text-decoration: none;
	color:#7D3411;
}
.Info-Style a:active{
	text-decoration: none;
	color:#7D3411; 
}
.Info-Style button{
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	border-color:#2B1206;
	border-width: 2px;
}
.Info-Style button:hover{
	filter:brightness(75%);
}
.Info-Style button:active{
	filter:brightness(75%);
}

/*Secondary Body Website Styles*/
.Info-Style-2{
	
}
.Info-Style-2 h1{
	margin-left:10%;
	margin-right:10%;
	font-size:220%;
	font-family:"Times New Roman";
	color:#f17008;
	font-weight:100;
}
.Info-Style-2 h2{
	margin-left:10%;
	margin-right:10%;
	font-size:450%;
	font-family:"Times New Roman";
	color:white;
	font-weight:100;
}
.Info-Style-2 p{
	margin-left:10%;
	margin-right:10%;
	font-size:100%;
	font-family:'Open Sans', 'sans-serif';
	color:white;
	font-weight:100;
}
.Alt-Background-1 {
	background-color:#dce4ea;
}

.Button-Style-1{
	background-color: #dce4ea;
	border: 1px medium #2B1206;
    font-family: 'Open Sans', sans-serif;
	color:#2B1206;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.Button-Style-1 button :hover{
	text-decoration: none;
	color:#2B1206;
}
.Button-Style-1 button :active{
	text-decoration: none;
	color:#2B1206;
}

/*Styling Video*/
.Video-Style{
	width: 100%;
	overflow:visible;
	background-size: 100%;
	background-repeat: no-repeat;
}
/*Styling For Boxes*/
.Container1{
	position: relative; 
	width: 100%;
	height:100%;
	margin: 100px auto;	
	display:grid;
	grid-template-columns: 50% 50%;
}
.Container1 .Box1{
	position: relative;
	width: 100%;
	height: 100%;
	float:left;
	margin:2%;
	box-sizing:border-box;
	overflow: hidden;
}
.Container1 .Box1 button{
	border:none;
	padding:0%;
}
.Container1 .Box1 button:hover{
	filter:brightness(75%);
}
.Container1 .Box1 button:active{
	filter:brightness(75%);
}
.Container1 .Box2{
	position: relative;
	float:left;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:-5%;
	margin-right:2%;
	box-sizing:border-box;
	overflow: hidden;	
	border-color: black;
    border-style: solid;
	border-width: 2px;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}
.Container1 .Box2 h2{
	font-size:125%;
	font-family: 'Open Sans', sans-serif;
	color:#2B1206;	
	font-weight:400;
}
.Container1 .Box2 button{
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	background-color: #f17008;
	border:none;
	color:white;
	padding:3%;
}
.Container1 .Box2 button:hover{
	filter:brightness(85%);
}
.Container1 .Box2 button:active{
	filter:brightness(85%);
}
.Container2{
	position: relative; 
	width: 100%;
	height:100%;
	margin: 100px auto;	
	display:grid;
	grid-template-columns: 50% 50%;	
}
.Container2 .Box1{
	position: relative;
	width: 100%;
	height: 100%;
	float:left;
	margin:2%;
	box-sizing:border-box;
	overflow: hidden;
}
.Container2 .Box1 button{
	border:none;
	padding:0%;
}
.Container2 .Box1 button:hover{
	filter:brightness(75%);
}
.Container2 .Box1 button:active{
	filter:brightness(75%);
}
.Container2 .Box2{
	position: relative;
	float:left;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:-5%;
	margin-right:2%;
	box-sizing:border-box;
	overflow: hidden;	
	border-color: black;
    border-style: solid;
	border-width: 2px;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}
.Container2 .Box2 h2{
	font-size:125%;
	font-family: 'Open Sans', sans-serif;
	color:#2B1206;	
	font-weight:400;
}
.Container2 .Box2 button{
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	background-color: #f17008;
	border:none;
	color:white;
	padding:3%;
}
.Container2 .Box2 button:hover{
	filter:brightness(85%);
}
.Container2 .Box2 button:active{
	filter:brightness(85%);
}

/*Testimonial Styling Options */
.Testimonials-Orange{
	display:grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 1%;
	grid-row-gap: 1%;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
}
.Testimonials-Orange div{
	background-color:#f17008;
	margin-right:2%;	
}
.Testimonials-Orange p{
	margin-left:3%;
	margin-right:3%;
}
.Test-O{
	margin-bottom:1%;
	margin-top:1%;
	margin-left: 25%;
	margin-right: 25%;
	background-color:#f17008;
	padding:1%;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
}
.Test-O p{
	margin-left:3%;
	margin-right:3%;
}
.Testimonials-Blue{
	display:grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 1%;
	grid-row-gap: 1%;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
}
.Testimonials-Blue div{
	background-color:#dce4ea;
	margin-right:2%;	
}
.Testimonials-Blue p{	
	margin-left:3%;
	margin-right:3%;
}
.Test-B{
	margin-bottom:1%;
	margin-top:1%;
	margin-left: 25%;
	margin-right: 25%;
	background-color:#dce4ea;
	padding:1%;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
}
.Test-B p{	
	margin-left:3%;
	margin-right:3%;
}
.TestB .Testimonials-Blue .Test-O .Testimonials-Orange h3{
	letter-spacing:10px;
}

/*Styling For Contact Page*/
.Contact{
	display:grid;
	grid-template-columns: 50% 50%;
}
.Contact h2{
	color:#f17008;
	font-weight:100;
	font-size:245%;
}
.Contact p{
	font-weight:100;
	font-family: 'Open Sans', sans-serif;
	font-size:90%;
	margin-right: 1%;
	margin-left:1%;	
}
.Contact a{	
	font-decoration:none;
}
.Contact a:visited{
	color:#f17008;
}
.Contact a:link{
	color:#A34C05;
}
.Contact a:active{
	color:#A34C05;
}
.Contact a:hover{
	color:#A34C05;
}

/*Styling For Image In The Home Page */
.Image-Section{
	background-color: #f17008;
	background-size: 100%;
	background-repeat: no-repeat;
	display:grid;
	grid-template-columns: 50% 50%;
}
.Image-Section img{
	float:left;
	width:90%;
	margin-left:1%;
	margin-right:10%;
	background-size: 100%;	
	background-repeat: no-repeat;
}
.Image-Section p{
	font-size:145%;
	font-family:"Times New Roman";
	color:white;
	word-spacing: 4%;
	font-weight:200;
}
.Image-Section b{
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
} 
.Image-Section-R{
	margin-top:16%;
}
/*Styling For Appointment Section*/
.Appoint-Button button{
	font-size:180%;
	font-family: 'Open Sans', sans-serif;	
	font-weight:lighter;
	color: #f17008;
	border:none;
	background-color:white;
	border-radius: 1%;
	margin:2%;
	padding:-15%;
}
.Appoint-Button strong{
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
}
.Appoint-Button button:active{
	background-color: #FBE3CF;
}
.Appoint-Button button:hover{
	background-color: #FBE3CF;
}
.Appoint-Button img{
	width:50%;
	length:100%;
}
.Appoint-Button-Session{
	padding-left:17%;
	padding-right: 17%;
	font-family: 'Open Sans', sans-serif;
	color:#2B1206;
}
.Appoint-Button-Session h2{
	font-weight:lighter;
}
.Appoint-Button-Session h1{
	font-weight:lighter;
}
.Appoint-Button-Session button{
	background-color: #f17008; 
	font-size:125%;
	border:none;
	padding:2%;
	color:white;
	font-family: 'Open Sans', sans-serif;	
}
.Appoint-Button-Session button:hover{
	filter:brightness(85%);
}
.Appoint-Button-Session button:active{
	filter:brightness(85%);
}
.Appoint-Button-Session button:visited{
	color:white;
}
.Appoint-Button-Session button:link{
	color:white;
}
.Session-1{
	font-size:150%;
	font-weight:lighter;
}
/*Styling For Booking Appointment And The Checkout*/
.Form-Style-Appointment{
	margin-left:10%;
	margin-right:10%;
	font-family: 'Open Sans', sans-serif;
	color:#2B1206;
}
.Form-Style-Appointment input{
	display:block;	
	font-size:120%;
}
.Form-Style-Appointment textarea{
	display:block;	
	width:95%;
	font-size:160%;
}
.Form-Style-Appointment-1{
	width:60%;
}
.Form-Style-Appointment legend{
	font-size:180%;
	font-weight:lighter;
}
.Form-Style-Appointment button{
	font-size:150%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	background-color:#dce4ea;
	padding:2%;
}
.Form-Style-Appointment button:hover{
	filter:brightness(80%);
}
.Form-Style_Appointment button:active{
	filter:brightness(80%);
}
.Form-Style-Appointment-2{
	width:85%;
}
.Form-Style{
	display: grid;
	grid-template-columns: 50% 50%;
}

/*Styling For Store Page Before Item Selection*/
.Store-Page-Image{
	display: grid;
	grid-template-columns: 60% 40%;
}
.Store-Page-Image img{
	width:100%;
	length:100%;
}
.Store-Page-Image p{
	margin-right:1%;
	margin-top:40%;
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
}
.Store-Page-Image button{
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	background-color: #f17008;
	border:none;
	color:white;
	padding:3%;
	border-radius: 1%;
}
.Store-Page-Image button:hover{
	filter:brightness(85%);
}
.Store-Page-Image button:active{
	filter:brightness(85%);
}
.Store-Page-Image-2{
	display: grid;
	grid-template-columns: 40% 60%;
}
.Store-Page-Image-2 img{
	width:100%;
	length:100%;
}
.Store-Page-Image-2 p{
	margin-right:1%;
	margin-top:40%;
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
}
.Store-Page-Image-2 button{
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	background-color: #f17008;
	border:none;
	color:white;
	padding:3%;
	border-radius: 1%;
}
.Store-Page-Image-2 button:hover{
	filter:brightness(85%);
}
.Store-Page-Image-2 button:active{
	filter:brightness(85%);
}

/*Store Page Styling In The Store Itself */
.cards{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 75px;
	margin-right: 75px;
}
.card{
	border: 2px solid #2B1206;
	margin:10px;
	text-align:center;
	flex: 0 1 calc(25% - 1em);
}
.card h2{
	color:#2B1206; 
	font-size:175%;
	font-weight:200;
}
.card b{
	color:#2B1206; 
	font-size:120%;
	font-weight:600;
}
.card aside{
	width:200px;
	font-family: 'Open Sans', sans-serif;	
}
.card details{
	color:#2B1206; 
}
.card-alt p{
	color:#2B1206; 
	font-size:225%;
}
.card-alt input{
	font-size:115%;
	width:200px;
	color:#2B1206;
	font-weight:bolder;
	border-color:#2B1206;
}
.card-Button input{
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	background-color: #f17008;
	color:white;
	padding:3%;
	border-color:#2B1206;
	border-width: 2px;
}
.card-Button input:hover {
	filter:brightness(90%);
}
.card-Button input:active {
	filter:brightness(90%);
}
.Store-Items-Title h1{
	font-size:300%;
	font-weight:bolder;
	color: #f17008;
}
.Store-Button-Links{
	display:inline;
}
.Store-Button-Links button{	
	font-size:175%;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	background-color: #dce4ea;
	color:#2B1206;
	padding:1.5%;
	border-color:#2B1206;
	border-width: 2px;
}
.Store-Button-Links-1{
	font-size:175%;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	background-color: #dce4ea;
	color:#2B1206;
	padding:1.5%;
	border-color:#2B1206;
	border-width: 2px;
}
.Store-Button-Links button:hover{
	filter:brightness(80%);
}
.Store-Button-Links button:active{
	filter:brightness(80%);
}


/* Checkout Order Confirmation Styling*/
.Checkout_Page_Confirmation{
	font-size:175%;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	background-color: #dce4ea;
	color:#2B1206;
	border:solid;
	border-width: 2px;
	border-color:#2B1206;
	padding:10px;
}
/* Shopping Cart Table Styling*/
.table_style{
	border:1px solid;
	width:100%;
	border-collapse: collapse;
	text-align:left;
	padding-top:110px;
	padding-bottom:10px;
	
}
.table_style th{
	background-color: #dce4ea; 
	font-weight:bold;
}
.table_style tr{
	border-bottom: 1px solid;
	border-right: 1px solid;
}
.table_style a{
	color:#f17008;
	text-decoration: none;
}
.table_style a:hover{
	filter:brightness(80%);
}
.table_style a:active{
	filter:brightness(80%);
}

/* Footer Styling*/
.Footer-Style img{
	background-color: white;
	border:none;
	padding:0%;
	position: relative;
	float:left;
	margin:2%;
	box-sizing:border-box;
	overflow: hidden;
}
.Footer-Style-Buttons{
	width:100%;
	text-align: center;
}
.Footer-Style-Buttons a{
	display:inline-block;
	border:none;
	padding:0%;
}
.Footer-Style-Buttons a:hover{
	filter:brightness(90%)
}
.Footer-Style-Buttons a:active{
	filter:brightness(90%)
}




	

